################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomStyleExample/v14
/Win32/Debug
/CustomStyleExample.VC.db
/CustomStyleExample.VC.VC.opendb
/CustomStyleExample/GeneratedFiles
/CustomStyleExample/Debug
